// @import '@styles/base.scss';
// @import '@styles/vant/index.scss';

// 引入ali-iconfont, 注意Font Family变更（qwicon）
// .qwicon {
//   font: normal normal normal 14px/1 'qwicon';
//   font-size: inherit;
//   text-rendering: auto;
// }
